<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Project Manager</h1>

  <h2>
    This is the home page for the Project Manager application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

