<li>
  <span class="content"><%= project.acc %></span>
  <span class="content"><%= project.description %></span>
  <span class="timestamp">
    Started at <%= project.start_date %>.
  </span>
  <span class="timestamp">
    Dead line at <%= project.dead_line %>.
  </span>
</li>
