<% provide(:title, @project.acc) %>
<div class="row">
  <aside class="span4">
    <h3>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h3>
  </aside>
  <div class="span8">
  <h3>Projects</h3>

  </div>
</div>
