<% provide(:title, @project.acc) %>
<div class="row">
  <aside class="span4">
    <h3>Users responsible for</h3>
    <span>
      <% for user in @users %>
        <%= gravatar_for @user %>
      <% end %>
    </span>
  </aside>
  <div class="span8">
    <h3>Project detail</h3>

  </div>
</div>
